body {
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-image: url("/record.jpg");
}

a {
  text-decoration: none;
  color: silver;
}

a:hover {
  color: white;
}

#menu {
  width: 400px;
  display: flex;
  margin: auto;
  padding: 5px 20px;
  text-align: center;
  align-self: center;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#logo {
  text-align: center;
}

#inventory-wrapper {
  margin-left: 300px;
  border-right: 5px solid;
  border-color: lightblue;
}
.input-box{
  border-right: 3px solid;
  border-right-color: cyan;

}
.container{
  border: 7px solid;
  border-radius: 25px;
  border-color: lightblue;
  background-color: black;
  margin: 0 35px 30px 0;  
  padding: 25px;
  width: 170px;
  display: inline-block;
}

.form-el {
  margin: 10px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}