body {
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #e2e2e2;
  background-color: black;
  background-image: url("/record.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: silver;
}

a:hover {
  color: white;
/*  border-bottom: 2px solid;
  border-color: #5DBCD2;*/
}

a:active {
  font-weight: bold;

}

#menu {
  width: 400px;
  display: flex;
  margin: auto;
  padding: 5px 20px;
  text-align: center;
  align-content: center;
  background: #191919;
  border-bottom: 3px solid;
  border-bottom-color: #5DBCD2;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#logo {
  text-align: center;
}

.inventory-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.form-box{
  border-right: 3px solid;
  border-right-color: #5DBCD2;
  width: 150px;
/*  background: linear-gradient(to left, #4C6A82, #191919);   #5DBCD2*/
  background: #191919;
  margin-left: 0px;
  margin-right: 35px;
  float: left
}

.container{
  border: 4px solid;
  border-radius: 25px;
  border-color: #5292c4;
  background-color: #191919;
  margin: 0 30px 30px 0;  
  padding: 7px;
 /* height: 170px;*/
  width: 180px;
  text-align: center;
  height: 330px;
  display: inline-block;
}

.container-artist{
   border: 4px solid;
   border-radius: 25px;
   border-color: #5292c4;
   background-color: #191919;
   margin: 0 30px 30px 0;  
   padding: 15px;
  /* height: 170px;*/
   width: 170px;
   text-align: center;
   height: 120px;
   display: inline-block;
}

.form-el {
  margin: 10px 5px;
}

.form-el select{
  color: white;
  width: 135px;
  background: #2d2d2d;
  border: 2px solid;
  border-color: #467da8;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-top: 5px;
  margin-left: 0px;
  width: 135px;
  color: white;
  background: #2d2d2d;
  border: 2px solid;
  border-color: #467da8;

}

.form-wrapper .form-el label {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}

/*.container p {
  display: block;
  height: 50px;
}*/

.cd-cover img {
  width: 100px;
  border-radius: 15px;
}

.container a {
  display: block;
  bottom: 0;
  border-radius: 5px;
  width: 100px;
  margin: 0 auto;
  color: white;
  background: #2d2d2d;
  border: 2px solid;
  border-color: #467da8;
}
.container a:hover {
  background-color: #5292c4;
  color: #fff; 
}

.container-artist a {
  display: block;
  bottom: 0;
  border-radius: 5px;
  width: 100px;
  margin: 0 auto;
  color: white;
  background: #2d2d2d;
  border: 2px solid;
  border-color: #467da8;
}
.container-artist a:hover {
  background-color: #5292c4;
  color: #fff; 
}

/*------------ stock colours*/

.overstocked{
color: orange;
}

.high{
color: green;
}

.medium{
color: #5DBCD2;
}

.low{
color: red;
}