<h2>Inventory:</h2>

<div id="inventory-wrapper">
  <% @albums.each do |album| %>

  <div>
    <p>Title: <%= album.title %></p>
    <p>Artist: <%= album.artist.artist_name.capitalize %></p>
    <p>Genre: <%= album.genre %></p>
    <p>Stock level: <%= album.stock_level %></p>
    <br>
  </div>

  <% end %>
  
</div>
