<h2>New album</h2>

<form action="/albums" method="POST">
  <label for="title-field">Title:</label><br>
  <input type="text" name="title"><br>

  <label for="genre-field">Genre:</label><br>
  <input type="text" name="genre"><br>

  <label for="current-stock-field">Current Stock:</label><br>
  <input type="number" name="current_stock"><br>

  <label for="ideal-stock-field">Ideal Stock:</label><br>
  <input type="number" name="ideal_stock"><br>

  <label for="artist-selection">Artist:</label><br>
  <select name="artist_id">
   <% @artists.each do |artist| %>
   <option value="<%= artist.id %>"><%= artist.artist_name %></option>
   <% end %>
 </select><br>


 <input class="btn btn--action" type='submit' value="Submit">
</form>