<h2>Artists:</h2>

<div id="artists-wrapper">

  <a href="/artists/new">New Artist</a><br>

  <% @artists.each do |artist| %>

  <div>
    <p><a href="/artists/<%= artist.id %>"><%= artist.artist_name %></a></p>
    <br>
  </div>

  <% end %>
  
</div>
