<h2>Artists</h2>

<div class="inventory-wrapper">

  <% @artists.each do |artist| %>
    <figure class="container-artist">
      <p><b><%= artist.artist_name %></b></p>
      
      <p> <a href="/artists/<%= artist.id %>">View</a></p>
    </figure>
  

  <% end %>
  
</div>
