<h2>Artists</h2>

<div class="inventory-wrapper">

  <% @artists.each do |artist| %>
  <a href="/artists/<%= artist.id %>">
    <div class="container">
      <p><b><%= artist.artist_name %></b></p>
      <br>
    </div>
  </a>

  <% end %>
  
</div>
