<h2>Artists:</h2><br>

<a href="/artists/new">New Artist</a><br>

<div id="artists-wrapper">

  <% @artists.each do |artist| %>

  <div>
    <p><a href="/artists/<%= artist.id %>"><%= artist.artist_name %></a></p>
    <br>
  </div>

  <% end %>
  
</div>
