<h1>New artist</h1>

<form action="/artists" method="POST">
  <label for="name-field">Name:</label><br>
  <input type="text" name="artist_name"><br>


 <input class="btn btn--action" type='submit' value="Submit">
</form>