<h2>New Artist</h2>

<div>
  <div class="form-box">
    <form action="/artists" method="POST">
      <label for="name-field">Name:</label><br>
      <input type="text" name="artist_name"><br>


      <input class="btn btn--action" type='submit' value="Submit">
    </form>
  </div>

  <div class="inventory-wrapper">
    <% @artists.each do |artist| %>

    <div class="container">
      <p><a href="/artists/<%= artist.id %>"><%= artist.artist_name %></a></p>
      <br>
    </div>

    <% end %>
  </div>
</div>